html, body {
  height:100%;
  min-height:100%
}

body {
  font-size:14px !important
}

h1 {
  padding:1em 1em 0.5em 1em
}

h1, h3, .subtitle {
  margin-bottom:0 !important
}

h3 small {
  font-size:0.5em;
  vertical-align:middle
}

.subtitle {
  padding-bottom:5em
}

#gesture {
  position:relative;
  top:50%;
  transform:translateY(-50%);
  margin:0 auto;
  width:90%;
  height:90%
}

#gesture p {
  position:relative;
  top:50%;
  transform:translateY(-50%);
  font-size:16px;
  text-align:center;
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%)
}

#start {
  padding-top:3em
}

.btn {
  transition:color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.125s ease-in-out
}

.btn:focus, .btn:active:focus {
  box-shadow:none !important
}

.btn-outline-danger:disabled.hover {
  opacity:1;
  border-color:#dc3545;
  background-color:#dc3545;
  color:#fff
}

.btn-outline-primary:disabled.hover {
  opacity:1;
  border-color:#007bff;
  background-color:#007bff;
  color:#fff
}

.btn-outline-success:disabled.hover {
  opacity:1;
  border-color:#28a745;
  background-color:#28a745;
  color:#fff
}

.btn-outline-warning:disabled.hover {
  opacity:1;
  border-color:#ffc107;
  background-color:#ffc107;
  color:black
}

#start .btn {
  display:block;
  margin-bottom:1em
}

.container {
  width:578px !important
}

.col {
  padding:0 !important
}

.player {
  margin-bottom:-8px
}

.player-last {
  margin-bottom:8px
}

.player:before {
  content:"\25CF\00a0\00a0";
  font-size:18px
}

#turn:before {
  position:relative;
  top:1px
}

.player-1:before {
  color:#ea323c
}

.player-2:before {
  color:#0098dc
}

.player-3:before {
  color:#5ac54f
}

.player-4:before {
  color:#ffc825
}

#game {
  padding-top:3em
}

#game center {
  margin-top:1.25em;
  margin-bottom:1em
}

#direction_container, #sign_container {
  margin:0 !important
}

#roll_container {
  margin-top:-30px !important
}

.icon-button {
  position:relative;
  width:26px;
  height:26px
}

.icon-button svg {
  position:absolute;
  top:50%;
  left:0;
  right:0;
  transform:translateY(-50%);
  margin:auto;
  width:16px;
  height:16px;
  text-align:center;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%)
}

#left, #add {
  margin-right:10px
}

#right, #remove {
  margin-left:10px
}

#down {
  margin-right:1px
}

#remove {
  margin-right:2px
}
