body {
  font-size:14px !important
}

h1 {
  padding:1em
}

h3 {
  margin-bottom:0
}

h3 small {
  font-size:0.5em;
  vertical-align:middle
}

#gesture {
  width:90%;
  height:90%;
  position:relative;
  top:50%;
  transform:translateY(-50%);
  margin:0 auto
}

#gesture p {
  font-size:16px;
  text-align:center;
  position:relative;
  top:50%;
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%)
}

#start {
  padding-top:3em
}

.btn {
  transition:color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.125s ease-in-out
}

.btn:focus, .btn:active:focus {
  box-shadow:none !important
}

.btn-outline-danger:disabled.hover {
  color:#fff;
  background-color:#dc3545;
  border-color:#dc3545;
  opacity:1
}

.btn-outline-primary:disabled.hover {
  color:#fff;
  background-color:#007bff;
  border-color:#007bff;
  opacity:1
}

.btn-outline-success:disabled.hover {
  color:#fff;
  background-color:#28a745;
  border-color:#28a745;
  opacity:1
}

.btn-outline-warning:disabled.hover {
  color:black;
  background-color:#ffc107;
  border-color:#ffc107;
  opacity:1
}

#start .btn {
  display:block;
  margin-bottom:1em
}

.container {
  width:578px !important
}

.player {
  margin-bottom:-8px
}

.player-last {
  margin-bottom:8px
}

.player:before, #turn:before {
  content:"\25CF\00a0\00a0";
  font-size:18px
}

#turn:before {
  position:relative;
  top:1px
}

.player-1:before {
  color:#ea323c
}

.player-2:before {
  color:#0098dc
}

.player-3:before {
  color:#5ac54f
}

.player-4:before {
  color:#ffc825
}

#game {
  padding-top:3em
}

#game center {
  margin-top:1.25em;
  margin-bottom:1em
}
